<h2>{{post?.title}}</h2>
<p>{{post?.description}}</p>
<img src= {{post?.imagePath}} class="img-responsive">
<p>Author: {{post?.author}}</p>
<p>{{post?.dateTimeCreated}}</p>
<button type="button" class="btn" (click)="dislikePost()">
    <img src="/img/chat-heart-fill.svg" alt="">
    ({{post?.numberOfLikes}})
</button>
<button type="button" class="btn" (click)="likePost()">
    <img src="/img/chat-heart.svg" alt="">
    ({{post?.numberOfLikes}})
</button> 
<br>
<br>
<button class="btn btn-success" (click)="onEdit()">Edit</button> |
<button class="btn btn-danger" (click)="onDelete()">Delete</button>

<hr>